<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Craft Wood</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
  <div class="container">
    <div class="row">
 <div class="col-4">
   <div class="list-group">
     <a class="list-group-item list-group-item-action test" th:href="@{'/commande/'}">Gestion des Commandes</a>
   </div>
 </div>
 <div class="col-4">
   <div class="list-group">
     <a class="list-group-item list-group-item-action" th:href="@{'/client/'}">Gestion des Client</a>
   </div>
 </div>
 <div class="col-4">
   <div class="list-group">
     <a class="list-group-item list-group-item-action" th:href="@{'/article/'}">Gestion des Articles</a>
   </div>
 </div>
</div>
        <section class="rightside">
            <div class="nav" style="margin-top: 10px">
                <ul class="nav nav-pills mb-3">
                   <li class="nav-item">
	                  <a class="nav-link btn btn-outline-primary" style="margin-right: 10px"   th:href="@{'/client/Add'}" >Nouveau Client</a>
	                </li>
	                <li class="nav-item">
	                  <a class="nav-link btn btn-outline-primary"   th:href="@{'/client/'}">Liste des Clients</a>
	                </li>
                  </ul>
            </div>
            <div>
            
            	<div th:if="${mod}"><h1>Modifier Client </h1>
            	 <form action="operation" method="post">
            		<input type="hidden" name="op" value="modifier">
                    <input type="hidden" name="id" th:value="${client.id_client}" >
                    <label for="">Nom Client</label>
                    <input type="text" name="nom" th:value="${client.nom}" required="required"> <br><br>
                    <label for="">Prenom </label>
                    <input type="text" name="prenom" th:value="${client.prenom}" required="required"><br><br>
                    <label for="">Tel</label>
                    <input type="text" name="tel" th:value="${client.tel}" required="required"><br><br>
                    <label for="">Adresse</label>
                    <input type="text" name="adresse" th:value="${client.adresse}" required="required"><br><br>
                    <input type="submit" class="btn btn-success" value="Modifier Client">
            	  </form>
            	
            	</div>
				
				<div th:unless="${mod}"><h1>Nouveau Client </h1>
				 	<form action="operation" method="post">
                	<input type="hidden" name="op" value="ajouter">
                    <label for="">Nom Client</label>
                    <input type="text" name="nom" required="required" > <br><br>
                    <label for="">Prenom </label>
                    <input type="text" name="prenom" required="required"><br><br>
                    <label for="">Tel</label>
                    <input type="text" name="tel" required="required"><br><br>
                    <label for="">Adresse</label>
                    <input type="text" name="adresse" required="required"><br><br>
                    <input type="submit" class="btn btn-success" value="Enregistrer Client">
                    </form>
                    
				</div>

            </div>
        </section>
    </div>
    
</body>
</html>